/*
Theme Name: Maksimum
Theme URI: None
Author: None
Author URI: None
Description: None
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: None
Text Domain: maksimum
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html {
    overflow-y: scroll !important;
}
body{
 margin:0;
 color:#000;
 font: 14px/16px Arial, Helvetica, sans-serif;
 background:#fff;
 color: #333;
}
img{
	border-style:none;
	vertical-align: middle;
}
a{
 text-decoration:none;
 color:#2c4eb1;
}
a:hover{text-decoration:underline;}
input,
textarea,
select{
 font:100% Arial, Helvetica, sans-serif;
 vertical-align:middle;
 color:#000;
 outline: none;
}
form,
fieldset{
 margin:0;
 padding:0;
 border-style:none;
}
textarea:focus,
input:focus[type="text"]{
	box-shadow: 0 0 5px #b12c2c;
	-webkit-box-shadow: 0 0 5px #b12c2c; 
}
.up {
    display: none;
	position:fixed;
	bottom:200px;
	right:55px;
}
/* wrapper */
#wrapper {
	margin: 0 auto;
	width: 1024px;
	min-width: 320px;
}
.modalDialog {
	position: fixed;
	z-index: 99999;
	display: none;
	pointer-events: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.3)
}
.modalDialog:target {
	display: block;
	pointer-events: auto;
}
.attention-windows,
.modalDialog>div  {
	position: fixed;
	z-index: 99999;
	width: 521px;
	border: 1px solid #b12c2c;
	border-radius: 4px;
	background: #fff;
/*	top: 175px;*/
	padding-bottom: 13px;
/*	left: 32%;*/
}
.attention-windows .title,
.what-to-do-holder .title,
.modalDialog>div .title {
	width: 100%;
	background: #b12c2c;
	overflow: hidden;
	margin-bottom: 18px;
}
.attention-windows .title h2,
.form-for-reviews-holder .title h2,
.modalDialog>div .title h2 {
	margin: 0;
	float: left;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	padding: 8px 0 8px 17px;
}
.attention-windows .title a,
.what-to-do-holder .title a,
.modalDialog>div .title a {
	background: url(images/icon-close.png) no-repeat;
	width: 21px;
	cursor: pointer;
	float: right;
	margin: 9px 10px 0 0;
	padding: 16px 0 0;
}
.attention-windows .title a:hover,
.modalDialog>div .title a:hover {
	background: url(images/icon-close.png) no-repeat;
}
.attention-windows .attention-text,
.modalDialog>div .attention-text {
	padding: 0 48px 11px 36px;
}
.attention-windows .attention-text p,
.modalDialog>div .attention-text p {
	margin: 0;
	line-height: 17px;
}
.attention-windows>a,
.modalDialog>div a {
	background: #b12c2c;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	margin: 0 0 0 207px;
	padding: 7px 28px 7px 29px;
	cursor: pointer;
	text-decoration: none;
	float: left;
}
.attention-windows>a:hover,
.modalDialog>div a:hover {
	background: #731b1b;
}
#form-for-reviews-horderer,
#form-for-reviews-horder-second,
#form-for-reviews-horderer-third,
#form-for-reviews-horder {
	position: fixed;
	z-index: 2000;
	display: none;
	width: 522px;
}
#masked,
#masker,
#mask-second,
#mask {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	background: url('fancybox/source/fancybox_overlay.png');
	display: none;
}
#masked,
#mask-second,
#masking {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	background: url('fancybox/source/fancybox_overlay.png');
	display: none;
}
/* header */
#header {
	margin: 0 auto;
	border-bottom: 1px solid #b12c2c;
	overflow: hidden;
}
.header-holder {
	margin: 0 auto;
	width: 90.33%; /*925px*/
	padding: 12px 0 8px 0;
	
}
.logo-holder {
	float: left;
	width: 40%;/*309px;*/
	padding: 0 0 8px 0;
}
.logo {
	width: 309px;
	/*background: url(images/logo.png) no-repeat;*/
	text-indent: -9999px;
	overflow: hidden;
	float:left;
	padding: 0 0 5px 0;
}
.logo a:first-child {
	padding: 4px 15px 0 0;
}
.logo a {
	height: 40px;
	float: left;
	padding: 0;
}
.age-limit {
	background: url("images/age-limit.png") no-repeat;
	width: auto;
	width: 40px;
	height: 40px;
}
.age-limit:hover {
	background: url("images/age-limit.png") no-repeat 0 -40px;
}
.logo img {
	display: block;
	width: 100%;
}
.logo-holder span {
	float: left;
	padding: 0 0 20px 0;
}
.slogan {
	float: left;
	font-size: 16px;
	line-height: 18px;
	font-style: italic;
	font-weight: normal;
	color: #b12c2c; 
}
.nav-holder {
	overflow: hidden;
}
#nav {
	margin: 0;
	padding: 20px 0 0 0;
	list-style: none;
	float: right;
	width: 70%;/*340px;*/
}
#nav li {
	float: right;
	padding: 0 0 13px 21px;
}
#nav li a {
	text-decoration: none;
	color: #333;
}
#nav li a:hover,
#nav li.active a {
	text-decoration: none;
	color: #b12c2c;
}

#nav li.current-menu-item a  {
	background-color: #B12C2C;
    color: #FFFFFF;
    text-decoration: none;
	/*border-radius: 4px 4px 4px 4px;*/
	padding: 6px;
}
.enter-button {
	float: right;
	//width:227px;
	//border: 1px solid #b12c2c;
	//border-radius: 5px;
	margin: 5px 0 0 0;
	position: relative;
}
.search-form {
	float: right;
	width:227px;
	border: 1px solid #b12c2c;
	border-radius: 5px;
	margin: 5px 0 0 0;
	position: relative;
}
.search-form .text{
	float: left;
	margin: 0;
	padding: 9px 15px;
	width: 197px;
	border: none;
	background: none;
	font-size: 12px;
	color: #5c5c5c;
	line-height: 16px;
	font-style: italic;
}
.search-form .btn-search {
	padding: 6px 0 0 0;
	position: absolute;
	right: 5px;
}
/* main */
#main {
	margin: 0 auto;
	width: 100%;/*1024px;*/
	padding: 16px 0 0 0;
}
/* regulations */
#regulations {
	margin: 0 auto;
	width: 700px;
	font-size: 14px;
	line-height: 17px;
}
#regulations .advert .title {
	padding: 0 0 20px 0;
}
.advert ol {
	padding: 0;
	margin: 0;
}
.advert ol>li{
	display:block;
	font-weight: bold;
	padding: 0 0 16px 0;
}
#regulations .advert ol>li span {
	color: #333333;
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	margin: 0 0 18px;
	padding: 0;
}
.advert ol>li>ol>li{
	display:block;
	font-weight: normal;
	padding: 0;
}
.advert ol>li:before{
content:counters(item,".") ". ";
counter-increment:item
}
.advert ol{
counter-reset:item
}
#regulations .point-rules {
	padding: 0 0 16px 0;
}
#regulations .point-rules ul li {
	padding: 0 0 0 7px;
}
#regulations .point-rules .attention ul li {
	padding: 0px 0 0 9px;
}
/* faq */
#faq {
	margin: 0 auto;
	width: 68%;/*696px;*/
	line-height: 17px;
	padding: 0 4px 0px 0;
}	
.answer-the-question {
	padding: 0 0 26px 0;
}
.answer-the-question h3 {
	margin: 0;
	padding: 0 0 20px 0;
	font-size: 17px;
	line-height: 19px;
	color: #b12c2c;
	font-weight: normal;
}
.answer-the-question p {
	margin: 0;
}
/*page_main*/
#page_main {
	margin: 0 auto;
	width: 700px;
	font-size: 14px;
	line-height: 17px;
}
.model {
/*    position: relative;*/
    width: 100%;
    padding: 0 0 16px 0;
}
.biggg {
	position: fixed;
	top: 50px;
	left: 25%;
	z-index: 9999;
	display: none;
	border: 1px solid #000;
}
.model:last-child .biggg {
    bottom: 0;
}
.model:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.model-info {
	width: 480px;
	float: left;
}
.model-info .title {
	width: 100%;
	overflow: hidden;
}
.model-info .title:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.model-info a {
	text-decoration: none;
}
.model-info a:hover {
	text-decoration: none;
}
.model-info a:hover h3 {
	text-decoration: none;
}
.model-info h3 {
	margin: 0;
	padding: 0 0 20px 0;
	font-size: 17px;
	line-height: 19px;
	color: #b12c2c;
	font-weight: normal;
	float: left;
	width: 360px;
	text-decoration: underline;
}
.model-info .rating {
	float: right;
	padding: 2px 1px 0 0;
}
.model-info p {
	margin: 0;
	padding: 0 0 16px 0;
}
.model-info > span {
	display: block;
	width: 100%;
	padding: 0 0 14px 0;
}
 .model-info >span+a {
 	color: #2c4eb1;
 	text-decoration: underline;
 	font-style: italic;
	font-size: 12px;
	line-height: 14px;
}

.model-info >span+a:hover {
        text-decoration: none;
}
.model-info-d .title {
	width: 100%;
	overflow: hidden;
}
.model-info-d .title:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.model-info-d a {
	text-decoration: none;
}
.model-info-d a:hover {
	text-decoration: none;
}
.model-info-d a:hover h3 {
	text-decoration: none;
}
.model-info-d h3 {
	margin: 0;
	padding: 0 0 20px 0;
	font-size: 17px;
	line-height: 19px;
	color: #b12c2c;
	font-weight: normal;
	float: left;
	width: 360px;
	/*text-decoration: underline;*/
}
.model-info-d .rating {
	float: right;
	padding: 2px 1px 0 0;
}
.model-info-d p {
	margin: 0;
	padding: 0 0 16px 0;
}
.model-info-d > span {
	display: block;
	width: 100%;
	padding: 0 0 14px 0;
}
 .model-info-d >span+a {
 	color: #2c4eb1;
 	text-decoration: underline;
 	font-style: italic;
	font-size: 12px;
	line-height: 14px;
}

.model-info-d >span+a:hover {
        text-decoration: none;
}


.model-photo-holder {
	float: right;
	padding: 3px 4px 0 0;
}
.model-photo {
	border: 1px solid #000000;
	display: block;
	width: 181px;
	height: 198px;
	overflow: hidden;
	margin: 0 0 6px 0;
}
.model-photo a {
	display: block;
	height: 198px;
	width: 181px;
	cursor: pointer;
}
.model-photo a .zoom {
	height: 48px;
	top: 75px;
	left: 69px;
	width: 44px;
	position: absolute;
}
.model-photo a:hover .zoom {
	visibility: hidden;
}
.model-photo-holder a {
	text-decoration: underline;
	font-style: italic;
	font-size: 12px;
	line-height: 14px;
	color: #2c4eb1;
	float: right;
	position: relative;
}
.model-photo-holder a:hover {
	text-decoration: none;
}
.paging-holder {
	padding: 35px 0 0 225px;
}
.page-numbers {
	margin:0;
	padding:0;
	list-style:none;
	color:#000;
}
.page-numbers li {
	display:inline;
	padding: 0 10px 0 10px;
}
.page-numbers li .current {
	background: #b12c2c;
	font-weight: normal;
	color: #fff;
	position: relative;
	padding: 2px 6px 3px 7px;
}
.page-numbers li a {color:#b12c2c;}
.page-numbers li a:hover {
	text-decoration: underline;
}
/*.page-numbers .prev {
	float: left;
	display: block;
}*/
.page-numbers li a.prev {
	padding:0 0 0 8px;
	color:#b12c2c;
	background:url(images/icon-paging-left.png) no-repeat 0;
	color: #fff;
}
.page-numbers li a.next {
	padding:0 12px 0px 0;
	color:#b12c2c;
	background:url(images/icon-paging-right.png) no-repeat 100%;
}
.page-numbers span {
	margin:0 0px 0 5px;
	color:#b12c2c;
}
/*profile*/
#profile {
	margin: 0 auto;
	width: 90.33%;/* 925px;*/
	overflow: hidden;
	padding: 2px 0 0 0;
	margin: 0 auto 50px;
}
.model-in-detail {
	padding: 0 0 30px 0;
	display: block;
	overflow: hidden;
}
.model-in-detail .model-info-d {
	/*width: 453px;*/
	float: left;
	padding: 0 0 28px 0;
	line-height: 17px
}
.model-info-holder {
	float: left;
	/*width: 453px;*/
}
.model-in-detail .model-info h3 {
	width: 330px;
	text-decoration: none;
}
.model-in-detail .model-info .rating {
	padding: 0 0 0 0;
}
.rating ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.rating li {
	float: left;
	padding: 0 0 0 6px;
}
.rating li:first-child {
	padding: 0;
}
.rating li span,
.rating li a {
	background: url("images/sprit-star.png") repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 16px;
    text-decoration: none;
}
.rating li a.active,
.rating li span.active,
.rating li a:hover {
		background: url("images/sprit-star.png") repeat scroll 0 -16px;
		text-decoration: none;
}
.rating li a.active {
		background: url("images/sprit-star.png") repeat scroll 0 -16px;
		text-decoration: none;
}
.video {
	margin: 0 auto;
	width: 645px;
}
.banners{
	margin-top: 60px;
	height: 60px;
	padding-bottom: 60px;
}
.banners .left-b{
	float:left;
}
.banners .right-b{
	float:right;
}
.slider-mini-wrapper {
    height: 200px;
	overflow: hidden;
	display: inline-block;
	width: 586px !important;
}
.slider-mini {
	margin: 0 auto 28px;
	width: 662px;
	height: 170px;
	/*float: left;
	background: #888;*/
	overflow: hidden;
	position: relative;
}
.slider-mini ul {
	margin: 0;
	padding: 0;
	/*padding: 13px 0 0 0;*/
	list-style: none;
    /*height: 147px;*/
	overflow: hidden;
	/*width: 1500px;*/
	position: relative;
}
.slider-mini li {
	display: inline-block;
    padding-right: 7px;
}

.slider-mini li a {
	width: 139px;
	height: 164px;
	border: 1px solid #000;
	display: block;

}
.slider-mini li a img {
	height: 100%;
	vertical-align: middle;
	width: 100%;
	/*opacity:0.3;
	-moz-opacity:0.3;
	filter: alpha(opacity=30) black;
	-khtml-opacity: 0.3;*/
	background-color:#888;
}
.slider-mini .slider-button-prev {
	position: absolute;
	left: 3px;
	top: 65px;
}
 .slider-mini .slider-button-next {
	position: absolute;
	right: 5px;
	top: 65px;
}
.slider-mini li.active a img,
.slider-mini li a img:hover {
opacity:1;
-moz-opacity:1;
filter: alpha(opacity=100) black;
-khtml-opacity: 1;
background-color:#000;
}
.big-photo-model {
	float: right;
	position: relative;
	width: 458px;
	height: 602px;
	overflow: hidden;
	border: 1px solid #000;
	margin: 1px 0 0 0;
	z-index: 100;
}
.big-photo-model a {
	display: block;
	width: 458px;
	height: 602px;
	cursor: pointer;
}
.big-photo-model a .zoom {
	height: 48px;
	left: 213px;
	top: 298px;
	width: 44px;
	position: absolute;
}
.big-photo-model a:hover .zoom {
	display: none;
}
.reviews h4 {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	color: #b12c2c;
	margin: 0 0 12px 0;
}
.reviews-button {
	float: left;
    overflow: hidden;
}
.reviews-button>a {
	background: none repeat scroll 0 0 #B12C2C;
	border: 0 none;
	border-radius: 4px 4px 4px 4px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	padding: 7px 13px 7px 13px;
	display: block;
}
.reviews-button>a:hover {
	background: #731b1b;
}
.reviews-button>a:hover {
	text-decoration: none;
}
.reviews-post {
	padding: 0 40px 16px 0;
	line-height: 17px;
}
.reviews-post .title {
	width: 100%;
	overflow: hidden;
	padding: 0 0 16px 0;

}
.reviews-post .title h5{
	float: left;
	margin: 0;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #333;
	width: 112px;
}
.reviews-post .title span {
	font-style: italic;
	float: left;
}
.reviews-post .title .rating {
	padding: 2px 0 0 164px;
	overflow: hidden;
}
.reviews-post p {
	margin: 0;
}
.what-to-do-holder {
    border: 1px solid #b12c2c;
    overflow: hidden;
    background: #fff;
	width: 522px;
	z-index: 9999;
	position: absolute;
	border-radius: 5px;
}
#form-reviews .row .what-to-do {
	padding: 4px 14px 6px 17px;
	margin: 3px 0 16px 0;
}
.what-to-do {
	background: #b12c2c;
	color: #fff;
	padding: 7px 14px 8px 17px;
	margin: 0 0 17px 0;
        width: 300px;
        text-align: center;
}
.what-to-do p {
	margin: 0;
}
.errored {
	background: #b12c2c;
	color: #fff;
	padding: 1px 14px 8px 17px;
	margin: 17px auto;
        width: 300px;
        padding: 4px 14px 5px 15px;
}
.errored p {
	margin: 0;
}
#form-reviews {
	float: left;
	margin: 0;
	padding: 0 0 0 126px;

}
.rating-holder {
    overflow: hidden;
    padding: 0 0 8px;
    margin: 0 0 0 127px;
}
.rating-holder > span {
    float: left;
    font-style: italic;
}
.rating-holder .rating {
	padding: 0 0 0 24px;
	float: left;
}
#form-reviews .row {
	padding: 0 0 15px 0;
}
#form-reviews .row input[type="text"] {
	border: 1px solid #b12c2c;
	border-radius: 4px;
	width: 174px;
	font-style: italic;
	font-size: 14px;
	line-height: 14px;
	color: #5c5c5c;
	padding: 5px 8px 4px 8px;
}
#fileupload .row input[type="text"] {
	border: 1px solid #b12c2c;
	border-radius: 4px;
	width: 174px;
	font-style: italic;
	font-size: 14px;
	line-height: 14px;
	color: #5c5c5c;
	padding: 5px 8px 4px 8px;
}
#fileupload .row input[type="text"]#postTitle {
	border: 1px solid #b12c2c;
	border-radius: 4px;
	width: 685px;
	font-style: italic;
	font-size: 20px;
	line-height: 14px;
	color: #5c5c5c;
	padding: 5px 8px 4px 8px;
}
#fileupload .row input[type="search"] {
	border: 1px solid #b12c2c;
	border-radius: 4px;
	width: 174px;
	font-style: italic;
	font-size: 14px;
	line-height: 14px;
	color: #5c5c5c;
	padding: 5px 8px 4px 8px;
}
#profile-form input[type="text"] {
	border: 1px solid #b12c2c;
	border-radius: 4px;
	width: 174px;
	font-style: italic;
	font-size: 14px;
	line-height: 14px;
	color: #5c5c5c;
	padding: 5px 8px 4px 8px;
        display: table;
}
#fileupload .row {
	padding: 0 0 15px 0;
}
#fileupload .captcha-holder {
	width: 274px;
	/*padding: 9px 4px 8px 22px;
	border: 1px solid #fcfefe; */
	border-radius: 4px;
	padding: 0 0 8px 183px;
	margin: 0 0 4px -4px;
}
#fileupload .captcha-holder strong {
	font-weight: normal;
	padding: 0 0 7px 0;
	display: block;
}
#fileupload .captcha-holder input[type="text"] {
	border: 1px solid #abadb3;
	width: 131px;
	padding: 2px 10px 2px 10px;
}
#fileupload .captcha-holder a {
	color: #33c2db;	
	text-decoration: none;
	padding: 0 0 7px 0;
	display: block;
}
#fileupload .captcha-holder a:hover {
	text-decoration: none;
}
#fileupload .captcha {
	padding: 0 0 3px 0;
}
#form-reviews .row textarea {
	border: 1px solid #b12c2c;
	border-radius: 4px;
	max-width: 259px;
	min-width: 259px;
	min-height: 104px;
	max-height: 430px;
	margin: 0;
	padding: 6px 0px 0 11px;
	font-size: 14px;
	font-style: italic;
	line-height: 14px;
	color: #5c5c5c;
	resize: none;
	overflow: auto;
}
#form-reviews .form-submit input[type="submit"] {
	background: #b12c2c;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	border: 0;
	border-radius: 4px;
	padding: 7px 17px 7px 18px;
	cursor: pointer;
	margin-left: 0px;
}
#form-reviews .row input[type="submit"]:hover {
	background: #731b1b;
}
#form-reviews .captcha-holder {
	width: 274px;
	/*padding: 9px 4px 8px 22px;
	border: 1px solid #fcfefe; */
	border-radius: 4px;
	padding: 0 0 8px 0;
	margin: 0 0 4px -4px;
}
#form-reviews .captcha-holder strong {
	font-weight: normal;
	padding: 0 0 7px 0;
	display: block;
}
#form-reviews .captcha-holder input[type="text"] {
	border: 1px solid #abadb3;
	width: 131px;
	padding: 2px 10px 2px 10px;
}
#form-reviews .captcha-holder a {
	color: #33c2db;	
	text-decoration: none;
	padding: 0 0 7px 0;
	display: block;
}
#form-reviews .captcha-holder a:hover {
	text-decoration: none;
}
#form-reviews .captcha {
	padding: 0 0 3px 0;
}
#form-reviews .row span {
	display: block;
	font-style: italic;
	font-size: 12px;
	line-height: 14px;
	margin: 0 0 15px 0;
}
#form-reviews  .form-submit input[type="submit"]:hover {
    background: #731b1b;
}
/*advertising*/
#advertising {
	margin: 0 auto;
	width: 700px;
	padding: 17px 0 0 0;
}
.advert .title.top,
.advert .list.top {
	padding-left: 18px;
}
.advert.chief {
	padding: 0 0 35px 0;
}
.advert {
	padding: 0 0 17px 0;
	width: 100%;
}
.advert:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.advert .title {
	padding: 0 0 17px 0;
}
.advert .title h5 {
	color: #b12c2c;
	font-size: 17px;
	line-height: 19px;
	font-weight: normal;
	margin: 0;
}
.advert .title a {
	font-size: 17px;
	line-height: 19px;
	text-decoration: underline;
	color: #2c4eb1;
	margin: 0 0 0 10px;
}
.advert .title a:hover {
	text-decoration: none;
}
.advert ul {
	list-style: none;
	margin: 0 0 3px 0;
	padding: 0;
}
#advertising .what-to-do {
	background: #b12c2c;
	float: left;
	color: #fff;
	padding: 4px 14px 5px 15px;
}
.advert .what-to-do{
	margin: 0 0 5px 213px;
}
.text-advert {
	float: left;
	width: 100%;
}
.text-advert .row {
	padding: 0 0 0 0;
}
.text-advert .row textarea {
	border: 1px solid #b12c2c;
	border-radius: 4px;
	max-width: 685px;
	min-width: 685px;
	//min-height: 106px;
	max-height: 430px;
	margin: 0;
	padding: 6px 0px 0 11px;
	font-size: 14px;
	font-style: italic;
	line-height: 14px;
	color: #5c5c5c;
	resize: none;
	overflow: auto;
}
.text-advert .row .push-to-pass {
	background: #cbc9c9;
	border: 2px dashed #7f7f7f;
	margin: -13px 0 45px 0;
	width: 693px;
}
.text-advert .row .push-to-pass:hover {
	background: #afafaf;
}
.text-advert .row .push-to-pass a {
	background: url("images/icon-camera.png") no-repeat scroll 118px 7px;
	color: #333;
	text-decoration: none;
	display: block;
	padding: 10px 47px 12px 143px;
	width: 458px;
}
.text-advert .row .added-photo {
	padding: 0 0 23px 60px;
}
.text-advert .row .added-photo .added-photo-box {
	display: inline-block;
	*float: left;
	position: relative;
	margin: 10px 39px 0 0;
	//width: 157px;
	height: 90px;
}
.text-advert .row .added-photo .added-photo-box .preview {
    height: 90px;
    width: 157px;
    border: 1px solid #000;
}
.text-advert .row .added-photo .added-photo-box a {
	background: url("images/delete-add-photo.png") no-repeat;
	display: block;
	width: 22px;
	height: 22px;
	text-indent: -9999px;
	position: absolute;
	top: 0;
	right: -25px;
}
.text-advert .captcha-holder {
	margin: 0 auto;
	width: 274px;
	/*padding: 9px 4px 8px 22px;
	border: 1px solid #fcfefe; */
	border-radius: 4px;
	padding: 0 0 8px 0;
}
.text-advert .captcha-holder strong {
	font-weight: normal;
	padding: 0 0 13px 0;
	margin: 0 0 0 54px;
	display: block;
}
.text-advert .captcha-holder input[type="text"] {
	border: 1px solid #abadb3;
	width: 131px;
	padding: 2px 10px 2px 10px;
}
.text-advert .captcha-holder a {
	color: #33c2db;	
	text-decoration: none;
	padding: 0 0 7px 0;
	display: block;
}
.text-advert .captcha-holder a:hover {
	text-decoration: none;
}
.text-advert .captcha {
	padding: 0 0 3px 0;
}
.text-advert .row .required-fields {
	font-size: 12px;
	line-height: 14px;
	padding: 4px 0 25px 214px;
}
.text-advert .row .submit-holder{
	padding: 0 0 0 292px;
}
.text-advert .row input[type="submit"] {
	background: #b12c2c;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	border: 0;
	border-radius: 4px;
	padding: 7px 17px 7px 18px;
	cursor: pointer;
}
.enter-button a {
	background: #b12c2c;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	border: 0;
        text-decoration: none;
	border-radius: 4px;
	padding: 2px 34px;
	cursor: pointer;
}

.enter-button a:hover {
	background: #731b1b;
}
.text-advert .row input[type="submit"]:hover {
	background: #731b1b;
}
.advert li a {
	color: #2c4eb1;
	text-decoration: underline;
	font-size: 14px;
	line-height: 16px;
}
.advert li a:hover {
	text-decoration: none;
}
.point-rules {
	padding: 0 0 18px 0;
}
.point-rules h6 {
	font-size: 14px;
	line-height: 16px;
	color: #333;
	margin: 0 0 18px 0;
}
.advert .point-rules ul {
	margin: 0;
}
.point-rules ul li {
	background: url("images/bg-line-li.png") no-repeat scroll 0 8px;
	padding: 0 0 1px 10px;
}
.point-rules .attention {
	color: #b12c2c;
	padding: 0 0 32px 0;
}
.advert .point-rules .attention span {
	padding: 0 0 2px 0;
	font-size: 17px;
	line-height: 19px;
	font-weight: bold;
	display: block;
}
.point-rules .attention p {
	margin: 0;
}
.point-rules .attention ul li {
	background: url("images/bg-line-li-attention.png") no-repeat scroll 0 11px;
	padding: 2px 0 0 9px;
}
.advert .required-fields {	
	padding: 54px 0 0 0;
	display: block;
	font-style: italic;
}
.advert span {
display: block;
//padding: 49px 0 0 0;
}
.advert span a {
	color: #2C4EB1;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
}
.advert span a:hover {
	text-decoration: none;
	border-bottom: 1px solid #2C4EB1;
}
/* footer */
#footer {
	margin: 0 auto;
	width: 1024px;
	border-top: 1px solid #b12c2c;
	overflow: hidden;
}
#menu-footer-left{
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
}
#menu-footer-right{
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
}
.footer-holder {
	padding: 29px 0 0 0;
}
.footer-nav {
	padding: 0 0 0 333px;
	margin: 0;
	list-style: none;
	overflow: hidden;
}
.footer-nav-part {
	float: left;
	padding: 0 71px 0 0;
}
.footer-nav-part:last-child {
	padding: 0;
}
.footer-nav li {
	padding: 0 0 13px 0;
}
.footer-nav li a {
	color: #2c4eb1;
	text-decoration: underline;
}
.footer-nav li a:hover {
	text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.footer-bottom {
    margin: -3px auto 0;
    width: 68%;/*698px;*/
    overflow: hidden;
}
.copyrigth {
	float: right;
	font-size: 12px;
	line-height: 14px;
	padding: 19px 0px 0 0;
}
body>iframe {
  display: none;
}
.fancybox-inner {
    border: solid 1px #fff !important;
}
#dropZone {    
    color: #555;
    font-size: 18px;
    text-align: center;    
    width: 685px;
    padding: 50px 0;
    //margin: 50px auto;
    background: #eee;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#dropZone.hover {
    background: #ddd;
    border-color: #aaa;
}
#dropZone.error {
    background: #faa;
    border-color: #f00;
}
#dropZone.drop {
    background: #afa;
    border-color: #0f0;
}
#advertising .thankyou {
    background: none repeat scroll 0 0 #B12C2C;
    color: #FFFFFF;
    display: none;
    float: left;
    padding: 4px 14px 5px 15px;
}
.loading {
    background: url("images/preloader.gif") no-repeat scroll 0 0 #fff;
    background-position: center;
    opacity: 0.9;
    width: 458px;
    height: 602px;
    position: absolute;
    right: 490px;
    top: 188px;
    z-index:200;
}
.ajax-load {
    background: url("images/ajax-loader.gif") no-repeat scroll 0 0 #fff;
    height: 16px;
    position: absolute;
    right: 250px;
    top: 424px;
    width: 16px;
}
.ajax-load-submit {
    background: url("images/ajax-loader.gif") no-repeat scroll 0 0 #fff;
    height: 16px;
    position: relative;
    left: 430px;
    bottom: 40px;
    width: 16px;
}
.adm {
	float: left;
    margin: 0;
    padding: 0 0 0 126px;
}
a#mailto {
	color: #2c4eb1;
	text-decoration: underline;
}
a#mailto:hover {
	text-decoration: none;
}